body.home .row {
    margin-top: 5em;
}

body.topic div.container {
    margin-top: 5em !important;
}

body.home .row + .row {
    margin-top: 2em;
}

.topic-status {
    text-align: center;
    font-size: small;
}

a {
    text-decoration: none !important;
    color: #39b7f1;
}

a:hover { color: #52bfff !important;}

a.title {
    font-size: medium;
}

.tag {
    font-size: smaller;
    text-align: center;
    padding: 2px 1em;
    font-weight: bold;
    color:#FFF;
    background-color:#5BC0DE;
    border-color:#46B8DA
}

.vertical-align {
    display: flex;
    align-items: center;
}

.attach {
    background-color: gray;
    text-align: center;
}

.attach-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.topic-main {
    padding: 0;
    margin: 0;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.topic-footer, .comment {
    border-bottom: 1px solid black;
}

.comment {
    display: block;
}

.author {
    float: right;
    display: inline-block;
    color: white;
    background-color: black;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}