html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 80px;
}

body.editProfile .row input[type=text]{
    border-radius: 0px;
}


body.home .row {
    margin-top: 3em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.container-fluid {
    padding: 0;
}

.editProfile .container-fluid:not(:first-child) {
    margin-top: 5em;
}

body.home .row + .row {
    margin-top: 2em;
}

.topic-status {
    text-align: center;
    font-size: small;
}

a {
    text-decoration: none !important;
    color: #39b7f1;
}

a:hover { color: #52bfff !important;}

a.title {
    font-size: medium;
}

.topic a.title {
    font-size: large;
}

.topic a.title, .topic-body, .comment-body {
    overflow-wrap:break-word;
}

.attach-container, .attach-container * {
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.replies {
    margin-bottom: 3em;
    padding-bottom: 0;
}

.reply {
    background-color: lightgray;
    margin: 0;
    padding: 0 0 0 1em !important;
    display: inline-block !important;
    width: 100%;
}

.reply-text {
    margin-left: 1em;
}

body.topic .container-fluid:not(:first-child) {
    margin-top: 3em;
}


.tag {
    font-size: smaller;
    text-align: center;
    padding: 2px 1em;
    font-weight: bold;
    color:#FFF;
    background-color:#5BC0DE;
    border-color:#46B8DA
}

.vertical-align {
    display: flex;
    align-items: center;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.author {
    float: right;
    display: inline-block;
    color: white;
    background-color: black;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    /*left: 50%;*/
    top: 20px;
    bottom: 20px;
    margin-left: 30px;
}

.timeline-centered .timeline-entry {
    position: relative;
    /*width: 50%;
    float: right;*/
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}



.navbar.navbar-default {
    margin-bottom: 0;
    box-shadow: black;
    background: #eaf7fc;
}

.navbar.navbar-default .container-fluid {
    
    font-family: 'Lobster', cursive;
    font-size: 1.4em;
}

.navbar.navbar-default .container-fluid .navbar-header a {
    color: #10354b;
    font-size: 1.9em;
}

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 a{
    color: #10354b;
}

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 form#pc-search{
    margin-left: 25%;
    margin-right: -10%;
}

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 div li a {
    color: #10354b;
}

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 form#pc-search .btn.btn-default{
    color: white;
    background-color: #10354b;
    border: solid 2px #10354b;
    border-radius: 6px;
}

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 form#pc-search .btn.btn-default:hover{
    background-color: white;
    color: #10354b;
    transition: 0.4s;
}

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 form#mobile-search .btn.btn-default{
    background-color: #10354b;
    border: solid 2px #10354b;
    color: white;
    height: 2.4em;
    margin-top: -0.04em;
}

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 form#mobile-search .btn.btn-default:hover{
    background-color: white;
    color: #10354b;
    border: solid 2px #10354b;
    transition: 0.4s;
}

.header {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url('../resources/images/background_image.jpg');
}



.header {
    margin: 0 auto;
    width: 1200px;
    height: 200px;
    padding: 12px 0 0;
    box-sizing: content-box;
    position: relative;
}

#logo {
    float: left;
    background-image: url('../resources/images/logo_askabit.png');
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background-position: top left;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    top: 25px;
    margin-left: -100px;
}


.home .main .row:first-child {
    margin-top: 0;
}

#title-tags, #title-tags h2 {
    margin-top: 0;
    padding-top: 0;
}

#explore-tags{
    margin-left: -15px;
    margin-right: -15px;
}

#explore-tags a {
    display: inline-block;
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
    transition: all .15s ease-in-out;
    margin: 6px 6px 6px 0;
    padding: 0.3em;
    border-color: #21a9e1;
    color: #21a9e1;
}

.row .nav-tabs{
    border-bottom: 1px solid #10354b;
}

.row .nav-tabs >li.active > a{
    border: 1px solid #10354b;
    border-bottom-color: transparent;
}
.statistic {
    text-align: center;
}

.statistic .glyphicon {
    font-size: 4em;
}

.glyphicon.blue {
    color: #3EA6CE;
}

.glyphicon.green {
    color: #42A129;
}

.glyphicon.orange {
    color: #FF6701;
}

ul.list-group > li > a {
    color: inherit;
}

div#topic {
    display: flex;
}

.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i.glyphicon-star {
    color: dodgerblue;
}
.tabbable-line > .nav-tabs > li.active > a > i.glyphicon-fire {
    color: red;
}
.tabbable-line > .nav-tabs > li.active > a > i.glyphicon-circle-arrow-up {
    color: green;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #ffffff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

/* Topic page */
.modal-dialog{
    vertical-align: middle;
}

.attach-container > .thumbnail {
    padding:0px;
}
.attach-container >.panel {
	position:relative;
}
.attach-container > .panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.attach-container >.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.attach-container > .panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.attach-container > .panel > .panel-heading {
    margin-left: -15px;
    margin-right: -15px;
}


/* create topic */
#var-code{
    color: #f92672;
}

#variable-code{
    color: #e6db74;
}

pre{
    background-color: #333;
}

.createTopic label#top-title{
    font-size: 2.4em;
}

.createTopic label{
    font-size: 1.2em;
    font-weight: 600;
}

.createTopic .form {
    margin-top: 3em;
}

.createTopic .form .form-group{
    margin-top: 3em;
}

.createTopic input[type=submit]{
    width: 10em;
    margin: 0 auto;
    border: solid 2px #10354b;
    background-color: #10354b;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.createTopic input[type=submit]:hover{
    background-color: white;
    color: #10354b;
}

body.profile .additional div.user-info {
    margin-top: 3em;
    margin-bottom: 4em;
}

body.search .container-fluid:not(:first-child) {
    margin-top: 2em;
}

body.search .additional {
    margin-top: 3em;
}

body.admin .container-fluid:not(:first-child) {
    margin-top: 2em;
}

body.admin .additional {
    margin-top: 3em;
}

body.admin .statistic + .statistic {
    margin-left: 3em;
}

body.admin canvas {
    margin-top: 0;
}

body.admin .row h3 {
    margin-top: 2em;
}

/* edit profile */
@media (min-width: 768px) {

    .brand-pills > li > a {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    li.brand-nav.active a:after{
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 9px solid #428bca;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 100%;
        z-index: 2;
    }
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}


.container{
    margin-top:20px;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.panel.panel-danger{
    margin-top: 30px;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}

#social-gp:hover {
    color: #d34836;
}
#social-gh:hover {
    color: black;
}

footer{
    margin-top: 10px;
}

/* VUE MK editor */
#editor {
    margin: 2em 0 0 0;
    height: 50%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    border: 1px solid black;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}


.wmd-button > span {
    background-image: url('//cdn.rawgit.com/derobins/wmd/master/images/wmd-buttons.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-input {
    background-color: #FAFAFA !important;
}

.wmd-preview {
    background-color: #EEE !important;
}


footer > div > div {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    height: 80px;
}

hr {
    margin-bottom: 1em !important;
}

